/* ============================================================ */
/* Base */
/* ============================================================ */
html, body {
  height: 100%; }

body {
  background: #EFEFEF;
  color: #424242;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 33px;
  text-transform: none; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  margin-bottom: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6 {
  font-size: 14px;
  margin-bottom: 12px; }

p {
  line-height: 1.8;
  margin: 0 0 30px; }

a {
  color: #d04a4c;
  text-decoration: none; }

ul, ol {
  list-style-position: outside;
  line-height: 1.8;
  margin: 0 0 40px; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 10px 0 0 20px; }
  ul li, ol li {
    margin: 0 0 10px; }
    ul li:last-of-type, ol li:last-of-type {
      margin-bottom: 0; }

ul {
  padding-left: 20px; }

ol {
  padding-left: 22px; }

ul ul,
ol ul {
  padding-left: 0; }

ul ol,
ol ol {
  padding-left: 5px; }

blockquote {
  border-left: 1px dotted #FFFFFF;
  margin: 40px 0;
  padding: 5px 30px; }
  blockquote p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%; }

pre {
  border-radius: 6px;
  word-wrap: normal;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  font-size: 0.9em;
  line-height: 1.3em; }

code {
  display: inline-block;
  padding: 2px;
  background: white; }

pre code.hljs, pre tt {
  padding: 1em;
  white-space: pre; }

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0; }

table {
  margin-bottom: 40px;
  width: 100%; }
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3; }
  table th {
    padding: 0 10px 10px;
    text-align: left; }
  table td {
    padding: 10px; }
  table tr {
    border-bottom: 1px dotted #AEADAD; }

::selection {
  background: #FFF5B8;
  color: #000;
  display: block; }

::-moz-selection {
  background: #FFF5B8;
  color: #000;
  display: block; }

.fluid-width-video-wrapper {
  margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1100px; }

#wrapper {
  height: auto;
  min-height: 100%;
  /* This must be the same as the height of the footer */
  margin-bottom: -265px; }
  #wrapper:after {
    content: "";
    display: block;
    /* This must be the same as the height of the footer */
    height: 265px; }

.button {
  background: #FFFFFF;
  border: none;
  border-radius: 3px;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 12px;
  text-transform: uppercase; }
  .button:hover {
    background: #d04a4c; }

.button-square {
  background: #d04a4c;
  color: #FFF;
  float: left;
  font-size: 17px;
  margin: 0 0 0 10px;
  padding: 3px 8px 4px; }
  .button-square:hover {
    background: #0A0A0A; }

/* ============================================================ */
/* Site Header */
/* ============================================================ */
.site-header {
  padding: 120px 0 0;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
  background: #FFFFFF;
  background-image: url("/assets/img/me.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 15% 0; }
  .site-header a {
    color: #0A0A0A; }

.site-title-wrapper {
  display: table;
  margin: 0 auto;
  padding-left: 20%; }
  .site-title-wrapper h2 {
    background: #d04a4c;
    color: #FEFEFE;
    padding: 5px 10px 6px;
    font-size: 1em;
    text-align: right;
    clear: both; }
    .site-title-wrapper h2:hover {
      background: #d04a4c; }

.site-title {
  float: left;
  font-size: 4em;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6); }

.site-logo {
  display: block; }
  .site-logo img {
    margin: 0; }

.site-nav {
  list-style: none;
  margin: 18px 0 10px;
  padding-left: 0;
  text-align: right; }

.site-nav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px; }
  .site-nav-item a:hover {
    color: #d04a4c; }

/* ============================================================ */
/* Post */
/* ============================================================ */
#latest-post {
  display: block; }

.post-container {
  margin: 70px 40px 120px; }

.post-header {
  border-bottom: 6px dashed #0A0A0A;
  margin: 0 0 10px;
  text-align: center;
  text-transform: uppercase; }
  .post-header:after {
    content: "";
    clear: both;
    display: block; }

.post-date {
  float: right;
  line-height: 48px; }

.post-title,
.page-title {
  font-weight: 700;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase; }

.site-title {
  font-size: 4em; }

.post-title {
  float: left;
  font-size: 2em;
  color: #0A0A0A; }

.page-title {
  margin: 15px 40px; }

.post-date,
.blog-description {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 600;
  margin: 25px 0 0; }
  .post-date a,
  .blog-description a {
    color: #AEADAD; }
  .post-date a:hover,
  .blog-description a:hover {
    color: #d04a4c; }

.post-content a:hover {
  border-bottom: 1px dotted #d04a4c;
  padding: 0 0 2px; }
.post-content:last-child {
  margin-bottom: 0; }

.post-footer {
  margin-top: 5px; }

.post-tags,
.share {
  color: #AEADAD;
  font-size: 14px; }
  .post-tags span,
  .share span {
    font-weight: 600; }

.post-tags {
  float: left;
  margin: 3px 0 0; }
  .post-tags a:hover {
    color: #FFFFFF; }

.share {
  float: right; }
  .share a {
    background: #d04a4c;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 0 4px;
    width: 30px;
    text-align: center; }
  .share a:hover {
    background: #0A0A0A; }

.post-navigation {
  display: table;
  margin: 70px auto 100px; }

.newer-posts,
.older-posts {
  float: left;
  background: #d04a4c;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase; }
  .newer-posts:hover,
  .older-posts:hover {
    background: #FFFFFF; }

.page-number {
  display: none; }

/* ============================================================ */
/* Post Index */
/* ============================================================ */
.post-list {
  border-top: 6px solid #FFFFFF;
  list-style: none;
  margin: 80px 40px 0;
  padding: 35px 0 0; }

.post-stub {
  border-bottom: 1px dotted #FFFFFF;
  margin: 0;
  position: relative; }
  .post-stub:first-child {
    padding-top: 0; }
  .post-stub a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    color: #424242;
    padding: 20px 5px; }
    .post-stub a:hover {
      background: #FCF5F5;
      color: #d04a4c;
      padding: 20px 12px; }
      .post-stub a:hover .post-stub-tag {
        background: #d04a4c; }

.post-stub-tag {
  background: #FFFFFF;
  border-radius: 3px;
  color: #FFF;
  float: right;
  font-size: 10px;
  margin: 7px 0 0;
  padding: 0 5px;
  text-transform: uppercase; }

.post-stub-title {
  display: inline-block;
  margin: 0;
  text-transform: none; }

.post-stub-date {
  display: inline-block; }
  .post-stub-date:before {
    content: "/ "; }

.next-posts-link a,
.previous-posts-link a {
  display: block;
  padding: 8px 11px; }

/* ============================================================ */
/* Author */
/* ============================================================ */
.author-profile {
  margin: 0 40px; }
  .author-profile:after {
    border-bottom: 1px dotted #FFFFFF;
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 100px; }

.author-heading {
  margin: 15px auto;
  text-align: center;
  width: 100%; }

.author-avatar {
  border-radius: 50px;
  display: inline;
  height: 50px;
  margin: 5px 10px 0 0;
  width: 50px;
  vertical-align: middle; }

.author-name {
  display: inline;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.author-meta {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
  text-align: center;
  text-transform: uppercase; }
  .author-meta span {
    display: inline-block;
    margin: 0 10px 8px; }
  .author-meta i {
    margin-right: 8px; }
  .author-meta a {
    color: #AEADAD; }
  .author-meta a:hover {
    color: #d04a4c; }

.author-bio {
  margin: 20px auto 0;
  text-align: center;
  max-width: 700px; }

.socials {
  text-align: right; }

/* ============================================================ */
/* Footer */
/* ============================================================ */
.footer {
  background: #FFFFFF;
  color: #D3D3D3;
  height: 265px;
  margin-top: 95px;
  overflow: auto;
  padding: 1em;
  text-align: center; }
  .footer .button-square {
    float: none;
    display: inline-block; }
  .footer .site-title-wrapper {
    margin: 80px auto 35px; }
  .footer .site-title a:hover,
  .footer .button-square:hover {
    background: #0A0A0A; }
  .footer .button-jump-top {
    font-size: 23px;
    line-height: 1.1;
    padding-top: 1px; }

.footer-copyright {
  color: #656565;
  font-size: 14px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }
  .footer-copyright a {
    color: #656565;
    font-weight: 700; }
    .footer-copyright a:hover {
      color: #FEFEFE; }

/* ============================================================ */
/* NProgress */
/* ============================================================ */
#nprogress .bar {
  background: #d04a4c; }

#nprogress .peg {
  box-shadow: 0 0 10px #d04a4c, 0 0 5px #d04a4c; }

#nprogress .spinner-icon {
  border-top-color: #d04a4c;
  border-left-color: #d04a4c; }

/* ============================================================ */
/* Media Queries */
/* ============================================================ */
@media only screen and (max-width: 1200px) {
  .site-header {
    background-position: 0 0; } }
@media only screen and (max-width: 800px) {
  .post-stub-tag {
    display: none; } }
@media only screen and (max-width: 600px) {
  h1, h2 {
    margin-bottom: 20px; }

  p {
    margin-bottom: 20px; }

  ul, ol {
    margin-bottom: 20px; }

  img {
    margin: 30px 0; }

  blockquote {
    margin: 30px 0; }

  pre {
    margin: 30px 0; }

  hr {
    margin: 35px 0; }

  .site-header {
    padding-top: 60px; }

  .site-nav-item {
    background: white; }

  .post-header {
    margin-bottom: 10px; }

  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 42px;
    margin-top: 5px; }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 20px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 30px; }

  .author-profile:after, .author-profile:before {
    margin-top: 20px; }

  .post-stub-title {
    display: block; }

  .post-stub-date:before {
    content: "";
    display: block; }

  .post-list {
    margin-top: 45px; }

  .post-container,
  .post-list,
  .author-profile {
    margin-right: 25px;
    margin-left: 25px; }

  .post-tags {
    width: 100%; }

  .post-stub a,
  .post-stub a:hover {
    padding-top: 12px;
    padding-bottom: 12px; }

  .share {
    float: left;
    margin-top: 20px; }
    .share a {
      margin: 0 5px 0 0; }

  .footer {
    margin-top: 50px; } }
@media only screen and (max-width: 400px) {
  .site-header {
    padding-top: 40px; }

  .post-title,
  .page-title,
  .author-name,
  .author-heading {
    font-size: 30px;
    line-height: 1.2; }

  .post-date,
  .blog-description,
  .author-meta {
    line-height: 1.6; }

  .post-date,
  .blog-description,
  .author-meta {
    margin-top: 10px; }
    .post-date:after, .post-date:before,
    .blog-description:after,
    .blog-description:before,
    .author-meta:after,
    .author-meta:before {
      margin-top: 20px; }

  .author-profile:after, .author-profile:before {
    margin-top: 10px; }

  .post-container,
  .post-list,
  .author-profile {
    margin-right: 15px;
    margin-left: 15px; }

  .author-avatar {
    display: block;
    margin: 0 auto 18px; }

  .author-meta span {
    display: block;
    margin: 18px 0; }

  .footer-copyright {
    padding: 0 10px; } }

/*# sourceMappingURL=style.css.map */
