<article class="post-container {{post_class}}">
    <header class="post-header">
        <a class="js-ajax-link"  title="{{title}}" href="{{url}}"><h1 class="post-title">{{title}}</h1></a>

        <p class="post-date"><time datetime="{{published_at}}">{{date format="D. MMMM YYYY"}}</time></p>
    </header>

    <div class="post-content clearfix">
        {{#if feature_image}}
            <img class="post-featured-image" src="{{img_url feature_image}}">
        {{/if}}

        {{{content}}}
    </div>

    <footer class="post-footer clearfix">
        {{#if tags}}
            <p class="post-tags"><span>Tagged:</span> {{tags}}</p>
        {{/if}}

        <div class="share">
            <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span class="hidden">Twitter</span>
            </a>

            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-facebook"></i>
                <span class="hidden">Facebook</span>
            </a>

            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
               <i class="fa fa-google-plus"></i>
                <span class="hidden">Google+</span>
            </a>
        </div>
    </footer>
</article>