<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nprogress.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,cyrillic-ext,latin-ext,cyrillic" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div id="wrapper">
        <header class="site-header">
            <div class="container">
                <div class="site-title-wrapper">
                    {{#if @blog.logo}}
                        <a class="site-logo js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
                    {{else}}
                        <h1 class="site-title"><a class="js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}">{{@blog.title}}</a></h1>

                        <a class="button-square" style="color: white" href="{{@blog.url}}/rss"><i class="fa fa-rss"></i></a>

                        <h2 class="site-description">{{@blog.description}}</h2>

                        <div class="socials">
                        </div>
                      
                    {{/if}}
                    <ul class="site-nav">
                        <li class="site-nav-item"><a class="js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}">Latest Post</a></li>

                        {{navigation}}
                        <li class="site-nav-item"><a class="icon-twitter" href="https://twitter.com/nicokreiling">
                            <i class="fa fa-twitter"></i>
                            <span class="hidden">Twitter</span>
                        </a></li>
                        <li class="site-nav-item"><a class="icon-xing" href="https://www.xing.com/profile/Nico_Kreiling">
                            <i class="fa fa-xing"></i>
                            <span class="hidden">Xing</span>
                        </a></li>
                        <li class="site-nav-item"><a class="icon-linkedin" href="https://www.linkedin.com/in/nico-kreiling-465a344b/">
                            <i class="fa fa-linkedin"></i>
                            <span class="hidden">LinkedIn</span>
                        </a></li>
                        <li class="site-nav-item"><a class="icon-github" href="https://github.com/krlng">
                            <i class="fa fa-github"></i>
                            <span class="hidden">Github+</span>
                        </a></li>
                    </ul>
                </div>
            </div>

        <svg width="100%" viewBox="0 0 1000 20" style="position: relative;bottom: -5px;">
            <polygon fill="#EFEFEF" stroke-width=0
                     points="0,0 100,0 500,20 900,0 1000,0 1000,20 0,20" />
        </svg>
        </header>
        <div id="ajax-container" style="margin-top: 40px;">
            {{{body}}}
        </div>
    </div>

    <footer class="footer">
        <div class="container">

                    <p id="tag-list" class="clearfix">
                        
                    </p>
            <p class="footer-copyright">&copy; {{date format="YYYY"}} / Published with <a href="https://ghost.org">Ghost</a> / Based on <a href="https://github.com/roryg/ghostwriter">Ghostwriter theme</a></p>
        </div>
                <a class="button-square button-jump-top js-jump-top" href="#" style="font-size: 1em; margin-top: 1em;"><i class="fa fa-angle-up"></i> Scroll to top</a>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">  
    if (typeof jQuery == 'undefined') {
        document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></'+'script>');
    }
    </script>

    <script type="text/javascript" src="{{asset "js/jquery.history.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/nprogress.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>

</body>
</html>
